.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.canvas-wrapper {
  display: flex;
  justify-content: center;
}

.wave-set__button {
  background-color: blue;
  width: 60px;
  height: 25px;
  margin-bottom: 1px;
  margin-left: 1px;
  color: wheat;
}
.wave-stop__button {
  background-color: red;
  width: 80px;
  height: 50px;
  padding-right: 10px;
  border-radius: 6px;
  margin-top: 6px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wrapper__amp-field {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  padding: 4px;
}
.wrapper__freq-field {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  padding: 4px;
}
.amp-field__readOnly {
  width: 100px;
  height: 20px;
  border: black solid 1px;
}
.freq-field__readOnly {
  width: 100px;
  height: 20px;
  border: black solid 1px;
}
.amp-field__label {
  margin-right: 16px;
  padding-top: 1px;
}
.freq-field__label {
  margin-right: 16px;
  padding-top: 1px;
}
.wrapper__bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.bottom__fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fields__amp-field {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 4px;
}
.fields__freq-field {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 4px;
}
.bottom__stop-wrapper {
  display: flex;
  justify-content: right;
  margin-left: 20%;
}

